@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Berkshire+Swash&family=Charm&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.5rem;
    font-weight: 400;
}

section{
    padding-top: 3.2rem;
}

.vid-placeholder{
    position: relative;
    height: 500px;
    border-color: 5px solid rgb(164, 97, 226);
    overflow: hidden;
    margin-top: 3.2rem;
}
.vid-bg{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: -5;
}

.navbar{
    padding: 0;
}

.navbar-bg{
    background-color: rgb(12, 93, 131);
}


.navbar-brand{
    font-size: xx-large;
    font-weight: bolder;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-right: 0px;
    margin-left: 1rem;
}

.nav-item{
    text-transform: uppercase;
    margin-right: 10px;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(204, 218, 215,.85);
}

.trip-btn button{
    font-family: 'BALOO PAAJI 2';
    margin-top: 4px;
    background-color: rgb(204, 218, 215);
    border-radius: 25px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.trip-btn button:hover{
    background-color: rgb(12, 93, 131);
    
}

.trip-btn button a{
    color: rgb(12, 93, 131);
}

.trip-btn button a:hover{
    text-decoration: none;
    color: rgb(204, 218, 215);
    
}


h1{
    text-align: center;
}

/* ABOUT US */

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-img img{
    width: 100%;
    height: auto;
}

.about-content{
    margin-left: 1rem;
    width: 85%;
}
/* TESTIMONIALS */
.testimonial{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding: 0, 5px;
}

.fl-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}




/* SERVICES */


#services h3{
    margin-top: 2rem;
    margin-left: 3rem;
    text-decoration: underline;
}
.card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.card{
    margin: 20px;
    margin-top: 2px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-center{
    text-align: center;
    margin-top: 2rem;
}

/* FOOTER */

.footercustom {
    background-color: rgb(12, 93, 131);
    color: rgba(0,0,0,.9);
    
}

.text-footer p {
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    color: rgb(204, 218, 215);
    font-size: 18px;
    display: block;
    padding-top: 20px;
}


/* TRIPS */

.hero-image{
    width: 100%;
}

.cust-text a{
    text-align: center;
}

.cust-text a{
    color:  rgb(204, 218, 215);
}

.icons-center{
    display: flex;
    justify-content: space-around;
}

.text-footer a{
    color: rgb(204, 218, 215);
    transition: 0.4s;
}

.text-footer a:hover{
    transform: translateY(-6px);
}


@media screen and (max-width:697px){

    .vid-placeholder{
        height: 200px;
    }


    .content-wrapper {
        display: block;
        padding: 1rem;
    }
    .card-flex {
        display: block;
        padding: 1rem;
    }
    .card {
        margin: 20px 0px;
    }
    .row{
    margin-left: 30px;
    margin-right: 30px;
    }
    .about-img {
        
        padding-bottom: 2rem;
    }
}