@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
/*DEFAULT*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

/*NAVIGATION*/


/*VIDEO SETTING*/

.vid-placeholder{
    position: relative;
    width: 100%;
    height: auto;
}

.vid-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* ABOUT US */

h1{
    text-align: center;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-img{
    padding-right: 2rem;
    
}

.about-img img{
    width: 600px;
    height: auto;
}