@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Berkshire+Swash&family=Charm&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.5rem;
    font-weight: 400;
}

section{
    padding-top: 2rem;
}

.vid-placeholder{
    position: relative;
    height: 500px;
    border-color: 5px solid rgb(164, 97, 226);
    overflow: hidden;
}
.vid-bg{
    position: absolute;
    width: 100%;
    top:-1rem;
    left:0;
    z-index: -5;
}

.navbar-bg{
    background-color: rgb(12, 93, 131);
}


.navbar-brand{
    font-size: xx-large;
    font-weight: bolder;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.nav-item{
    text-transform: uppercase;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(204, 218, 215, 0.952);
}


h1{
    text-align: center;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-img{
    padding-right: 2rem;

    
}

.about-img img{
    width: 100%;
    height: auto;
}

.card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.card{
    margin: 20px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-center{
    text-align: center;
    margin-top: 2rem;
}