@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Berkshire+Swash&family=Charm&display=swap');
/*DEFAULT*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.5rem;
    font-weight: 400;
}

section{
    padding-top: 2rem;
}

/*NAVIGATION*/

.custom-navbar{
    padding: 0px 30px;
}


.nav-item{
    padding: 10px;

}

.nav-link{

    text-transform: uppercase;
}

/*HOME*/

.home-content{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(234 220 220);
}

.home-content > h1 h2 button{
    font-size: 10rem;
    padding: 2rem 0;
    
}


/*VIDEO SETTING*/

.vid-placeholder{
    position: relative;
    border-color: 5px solid rgb(164, 97, 226);
    overflow: hidden;
}
.vid-bg{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index: -5;
}

/* ABOUT US */

h1{
    text-align: center;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-img{
    padding-right: 2rem;

    
}

.about-img img{
    width: 100%;
    height: auto;
}

.card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}